In [21]:
import pandas as pd

lst_index = [10, 20, 30, 40, 50]
lst_name = ["Peugeout", "BMW", "Sonata", "Benz", "Lamborgini"]
lst_speed = [100, 200, 300, 400, 500]
lst_color = ["White", "Black", "Silver", "Red", "Blue"]

df_cars = pd.DataFrame(list(zip(lst_index, lst_name, lst_speed, lst_color)),
                       columns=['index', 'name', 'speed', 'color']    
)

df_cars

   index        name  speed   color
0     10    Peugeout    100   White
1     20         BMW    200   Black
2     30      Sonata    300  Silver
3     40        Benz    400     Red
4     50  Lamborgini    500    Blue